bin
bin/default
.metadata
.classpath
.project
build
logs

log4jInfo.log

#node
nodeCode/*/node_modules/
*.lck
package-lock.json

# MQTT generated
*-tcp*

 # Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat


/ReadMe.html
.lck/ 
docker/
/.metadata/
/src-gen/
