<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>webGUI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container-fluid bg-info text-white text-center">
    <h1>WasteServiceGUI</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<form action="update" method="post" class="p-4">
    <!-- the form-data is sent to the path specified in the action attribute -->
    <input type="text" size="20" id="configurespec" name="ipaddr" th:value="${containertip}">
    <input type="submit" value="Connect" id="button_C">
</form>

<div class="col-4 text-danger">
    <b><span th:text="${containertip}">not connected</span></b>
</div>

<div id="messageArea"  class="messageAreaStyle"></div>
<div class="container-fluid">
    <div class="card iss-bg-robotarea text-dark">
   <!--     <div class="card-header px-1">Robot:</div> -->
        <div class="card-content px-1">
                <span id="Display" >
              <!--    <i class="bi bi-robot"></i>  State transport trolley: <p id="statett" style="display:inline">loading...</p><br><br> -->
              <!--      Current position: <p id="position" style="display:inline">...</p><br><br> -->
                    Capacity plastic box: <span text="${plastic}" id="plasticprog">...</span>
                <!--    Capacity glass box: <p id="gb" style="display:inline">...</p><br><br> -->

                </span>
        </div>
    </div>
</div>
<!--Footer-->
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2022 Copyright:
            <div class="text-reset fw-bold">EV-AS-AR</div>
        </div>
    </div>
</footer>


<script src="vendors/jquery/jquery.min.js"></script>
<script src="sockjs.min.js"></script>
<script src="ioutils.js"></script>
<script src="wsminimal.js"></script>
<script>connect()</script>  <!-- connect definita in wsminimal-->
</body>
</html>
